body {
    margin:0;
}

// Change of design for mobile devices 
@media only screen and (max-width: 768px) 
    {
    .day {
        width: 500px;
    }
      
     // Recipe pop up buttons displayed in a single column instead of a row of 4
      .foods {
        flex-direction: column;
        align-items: center;
    }

    .foods > button {
        margin-bottom: 20px;
        width: 300px;
        height: 300px;
    }

     // Displaying the calendar in a row of 3,3 then 1 instead of 7
    #calendar {
        flex-wrap: nowrap;
    
    }

    .calendar button {
        width: calc(50% - 4px);
        height: auto; 
        margin: 2px;
    }

    // Decreasing the size of the calorie tracker image for smaller devices
    .tracker {
        width: 100%;
        max-width: 300px;

    }

    .row-flower img {
        width: 80px;
    }

     // Decreasing font sizes that it is appropriate and legible to all audiences on small devices

    h1 {
        font-size: 21pt;
    }


    }
    h2 {
        font-size: 19pt;
    }

    
    .meal-types {
        font-size: 19pt;
    }
    
    .calorie-text {
        font-size: 15pt;
    }
    
    .recipe-title {
        font-size: 21pt;
    }
    
    .meal-title {
        font-size: 21pt;
    }
    
    .history-title {
        font-size: 21pt;
    }
    
    
    h4 {
        font-size: 21pt;
    }

    h5 {
       font-size: 12pt;
    }


// Displaying the calorie progress bar as none as it does not work
.progress-bar {
    width: 200px; 
    height: 20px; 
    background-color: #F2D2BD;
    margin-bottom: 20px;
    border-radius: 10px;
    display: none;
}

// This represents the how the progress will move when users log their calories
.progress {
    height: 100%;
    background-color:#C1E1C1;
    width: 0;
    transition: width 0.5s ease;
}



.tracker {
    width: 500px;
    display: block;
    margin: 0 auto;
    align-items: center;
    
}

// button for users setting their calorie goal, aligning it with the input form as a flex box and centering it to the middle of the page
.setgoal {
    display: flex;
    justify-content: center;
    align-items: center;
}


// .form-calories {
//     display: none;
// }

// .form input[type="number"] {
//     width: 100px;

// }


// setting calorie goal buttons to align in the centre of the page, adding hover effects when user click
.form button {
    justify-content: center;
    background-color:#C1E1C1;
}

.form button {
    display: flex;
  justify-content: center;
  align-items: center;
}

.form button:hover {
    font-weight: bold;
}

.form-calories {
    display:none;
}

  
//   .green {
//     background-color: green;
//   }
  
// Font style is sans-serif for all text
h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 35pt;
}

h2 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 28pt;
}

h3 {
    text-align: center;
    font-family: sans-serif;
}

.meal-types {
    font-size: 20pt;
    text-align: left;
    font-family: sans-serif;
}

.calorie-text {
    font-size: 12pt;
    text-align: left;
    font-family: sans-serif;
}

.recipe-title {
    font-size: 25pt;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 25pt;
}

.meal-title {
    font-size: 25pt;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.history-title {
    font-size: 25pt;
    text-align: center;
    color: white;
    font-family: sans-serif;
}


h4 {
    text-align: center;
    font-family: sans-serif;
}

h5 {
    text-align: center;
    font-family: sans-serif;
} 

.recipe-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

// Displaying the calendar as a row of 7 using flexbox 

#calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calender button {
    width: 200px;
    height: 200px; 
    background-color: #F2D2BD;
    border: none;
    margin: 2px 2px;
    align-items: center;
    justify-content: center;
}

.calender button:hover {
    background-color: #C1E1C1;
    font-weight: bold;
   
}

// Anything inside of a row contanier is presented in a row uing flexbox
.row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    justify-content: center;
}

// Using flexbox to align the two leaves in a row
.row-flower {
    display: flex;
}

.leaf-one {
    width: 200px;
    margin-left:0;
    margin-right: auto;
}

.leaf-two {
    width: 200px;
    margin-left:auto;
    margin-right: 0;
}


// .day {
//     width: 100px;
// }

// This affects the done button in the "Meals of the day" pop up
.formBox button {
    background-color: #C1E1C1;
    border-radius: 20px;
    border: 2px solid black;
    margin-right:0;
    margin-left: auto;
}



// .meal-entry {
//     width: 20px;
//     height: 20px;
//     background-color: #C1E1C1;
//     margin-left: 10px;
//     cursor: pointer;
// }

// Styling for the "Show Past History" pop up, background set to a nude colour with round, curved edges
// Display: none is set so that the pop up doesn't open until user clicks the button
#historycontent {
    background-color: #F2D2BD;
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
    display: none;
}


#historycontent h3{
    color: white
}

// History button set to the right of the page
#history {
    float: right;
}

#history button {
    background-color: transparent;
    border: none;
}

// Delete button in "Show Past History" pop up, however I do not know why the button still has a background and outline after they have been set to none

.delete {
    background-color: transparent;
    border: none;
    width: 100px;
}

// Edit button in "Show Past History" pop up, same problem occuring with the background colour and border outline
.edit {
    background-color: transparent;
    border: none;
    width: 100px;
}

// Container that contains both the edit and delete button in the "Show Past History" pop up. The goal is to position the buttons next to each other, on the right of the pop up
.row-btn {
    margin-right: 0;
    margin-left: auto;
    float: right;
}

.history-row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    justify-content: center;

}

.done-button {
    margin-right: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
    width: 100px;
}


// Pop ups for "Meals of the day" where users can add their meal and calories eaten
// Display: none set to hide the content before users click the pop up button
#card {
    background-color: #F2D2BD;
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
    display: none;
}



#card-title {
    color: white;
    text-align: center;
    justify-content: center;
}

#card-content {
    justify-content: center;

}

// Container that contains all images and text that I want to present in a column for the nutritional values
.column {
    float: left;
    width: 25%;
    padding: 5%; 
}

.row::after {
    content: "";
    clear: both;
    display: grid;
}


// W3 Schools. (n.d). How TO- Align Images Side By Side. https://www.w3schools.com/howto/howto_css_images_side_by_side.asp 
// Using flex box to position recipe buttons in a row
.foods {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.foods > button {
    width: 200px;
    height: 300px;
    margin: 5x;
    border: none;
    background: transparent;
}



.foods > button > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-sizing: content-box;
}

button {
    cursor: pointer;
}

// The background colour for all recipe pop ups, styling of the border so that it is curved
// Display: none set so that the content is not visible unless users click the recipe button

.popup-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    background: #F2D2BD;
    padding: 20px;
    margin: 10%;
    border-radius: 20px;
}


.white-text{
    color: white;
}

// All recipe pop ups are styled the same
#pancake-popup {
    display: none;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.3s;
    background: #F2D2BD;
    padding: 5%;
    margin: 10%;
    border-radius: 20px;
}


#pancake-popup h3{
    background-color: #C1E1C1;
    padding: 3%;

}


.pancake-calorie {
    text-align:center;
}

// Styling the "I ate this today!" button to the right with a green background colour 
#pancake-popup button {
    background-color: #C1E1C1;
    border-radius: 5px;
    margin-right:auto;
    margin-left:0;
}


.nutrition-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.nutritional-values img{
    width: 80%;
}

#salad-popup {
    display: none;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.3s;
    background: #F2D2BD;
    padding: 5%;
    margin: 10%;
    border-radius:20px;
}

#salad-popup button {
    background-color: #C1E1C1;
    border-radius: 5px;
    margin-right:auto;
    margin-left:0;
}

#salad-popup h3{
    background-color: #C1E1C1;
    padding: 3%;

}

#salad-popup h2 {
    text-align: center;
}

// Exit buttons set to the right of the recipe pop up container
#exit {
    width:20px;
    margin: 0;
}

// Exit button for the "Meals of the day" pop up
.exit {
    width:20px;
    float: right;
}

.popup-buttons {
    display: flex;
}

#salmon-popup {
    display: none;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.3s;
    background: #F2D2BD;
    padding: 5%;
    margin: 10%;
    border-radius: 20px;
}

#salmon-popup button {
    background-color: #C1E1C1;
    border-radius: 5px;
    margin-right:auto;
    margin-left:0;
}

#salmon-popup h3{
    background-color: #C1E1C1;
    padding: 3%;

}

#salmon-popup h2 {
    text-align: center;
}

#raspberry-popup {
    display: none;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.3s;
    background: #F2D2BD;
    padding: 5%;
    margin: 10%;
    border-radius: 20px;
}

#raspberry-popup button {
    background-color: #C1E1C1;
    border-radius: 5px;
    margin-right:auto;
    margin-left:0;
}

#raspberry-popup h3{
    background-color: #C1E1C1;
    padding: 3%;

}

#raspberry-popup h2 {
    text-align: center;
}

