body {
    margin:0;
}

@media screen and (max-width: 768px) 
    /* For mobile phones: */
    {
    .day {
        width: 500px;
    }
      
      .foods {
        flex-direction: column;
        align-items: center;
    }

    .foods > button {
        margin-bottom: 20px;
        width: 300px;
        height: 300px;
    }

    #calendar {
        flex-wrap: nowrap;
    
    }

    .calendar button {
        width: calc(50% - 4px);
        height: auto; 
        margin: 2px;
    }

    .tracker {
        width: 100%;
        max-width: 200px;

    }

    .row-flower img {
        width: 80px;
    }

    h1 {
        font-size: 21pt;
    }


    }
    h2 {
        font-size: 19pt;
    }

    
    .meal-types {
        font-size: 19pt;
    }
    
    .calorie-text {
        font-size: 15pt;
    }
    
    .recipe-title {
        font-size: 21pt;
    }
    
    .meal-title {
        font-size: 21pt;
    }
    
    .history-title {
        font-size: 21pt;
    }
    
    
    h4 {
        font-size: 21pt;
    }

    h5 {
       font-size: 12pt;
    }




.progress-bar {
    width: 100%;
    background-color: #F2D2BD;
 
}

.progress {
    height: 100%;
    background-color: #C1E1C1;
    width: 0;
    transition: width 0.3s;
}



.tracker {
    width: 500px;
    display: block;
    margin: 0 auto;
    align-items: center;
    
}

// .form {
// //     display: flex;
//     display: flex;
//   justify-content: center;
//   align-items: center;

// }

.setgoal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-calories {
    display: none;
}

.form input[type="number"] {
    width: 100px;

}

.form button {
    justify-content: center;
    background-color:#C1E1C1;
}

.form button {
    display: flex;
  justify-content: center;
  align-items: center;
}

.form button:hover {
    font-weight: bold;
}

  
  .green {
    background-color: green;
  }
  

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 35pt;
}

h2 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 28pt;
}

h3 {
    text-align: center;
    font-family: sans-serif;
}

.meal-types {
    font-size: 20pt;
    text-align: left;
    font-family: sans-serif;
}

.calorie-text {
    font-size: 12pt;
    text-align: left;
    font-family: sans-serif;
}

.recipe-title {
    font-size: 25pt;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 25pt;
}

.meal-title {
    font-size: 25pt;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.history-title {
    font-size: 25pt;
    text-align: center;
    color: white;
    font-family: sans-serif;
}


h4 {
    text-align: center;
    font-family: sans-serif;
}

h5 {
    text-align: center;
    font-family: sans-serif;
} 

.recipe-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}


// img {
//     display: block;
//     margin: 0 auto;
//     align-items: center;
// }

// .history {
//     display: flex;
// }


// .history img{
//     margin-left: auto;
//     margin-right: 0;
// }

.progress-bar {
    width: 200px; 
    height: 20px; 
    background-color: #F2D2BD;
    margin-bottom: 20px;
    border-radius: 10px;
    display: none;
}

.progress {
    height: 100%;
    background-color:#C1E1C1;
    width: 0;
    transition: width 0.5s ease;
}

#calendar {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    justify-content: center;
}

.calender button {
    width: 200px;
    height: 200px; 
    background-color: #F2D2BD;
    border: none;
    margin: 2px 2px;
    align-items: center;
    justify-content: center;
}

.calender button:hover {
    background-color: #C1E1C1;
    font-weight: bold;
   
}


.row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    justify-content: center;
}

.row-flower {
    display: flex;
}

.leaf-one {
    width: 200px;
    margin-left:0;
    margin-right: auto;
}

.leaf-two {
    width: 200px;
    margin-left:auto;
    margin-right: 0;
}

.day {
    width: 100px;
}

.formBox button {
    background-color: #C1E1C1;
    border-radius: 20px;
    border: 2px solid black;
    margin-right:0;
    margin-left: auto;
}

.meal-entry {
    width: 20px;
    height: 20px;
    background-color: #C1E1C1;
    margin-left: 10px;
    cursor: pointer;
}

#historycontent {
    background-color: #F2D2BD;
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
    display: none;
}

#historycontent h3{
    color: white
}

#history {
    float: right;
}

#history button {
    background-color: transparent;
    border: none;
}

.delete {
    background-color: transparent;
    border: none;
    width: 100px;
}

.edit {
    background-color: transparent;
    border: none;
    width: 100px;
}

.row-btn {
    margin-right: 0;
    margin-left: auto;
    float: right;
}

.history-row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    justify-content: center;

}

.done-button {
    margin-right: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
    width: 100px;
}



#card {
    background-color: #F2D2BD;
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
    display: none;
}

// #msg {
//     display: none;
// }

// .msg {
//     display: block;
// }


#card-title {
    color: white;
    text-align: center;
    justify-content: center;
}

#card-content {
    justify-content: center;

}

.column {
    float: left;
    width: 25%;
    padding: 5%; 
}

.row::after {
    content: "";
    clear: both;
    display: grid;
}


.foods {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.foods > button {
    width: 200px;
    height: 300px;
    margin: 5x;
    border: none;
    background: transparent;
}



.foods > button > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-sizing: content-box;
}

button {
    cursor: pointer;
}

.popup-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    background: #F2D2BD;
    padding: 20px;
    margin: 10%;
    border-radius: 20px;
}


.white-text{
    color: white;
}


#pancake-popup {
    display: none;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.3s;
    background: #F2D2BD;
    padding: 5%;
    margin: 10%;
    border-radius: 20px;
}

// .pancakeimg {
//     display: block;
//     width: 33%;
// }

#pancake-popup h3{
    background-color: #C1E1C1;
    padding: 3%;

}


.pancake-calorie {
    text-align:center;
}

#pancake-popup button {
    background-color: #C1E1C1;
    border-radius: 5px;
    margin-right:auto;
    margin-left:0;
}
// .close-button {
//     position: absolute;
//     cursor: pointer;
//     justify-content: top-left;
// }

.nutrition-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.nutritional-values img{
    width: 80%;
}

#salad-popup {
    display: none;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.3s;
    background: #F2D2BD;
    padding: 5%;
    margin: 10%;
    border-radius:20px;
}

#salad-popup button {
    background-color: #C1E1C1;
    border-radius: 5px;
    margin-right:auto;
    margin-left:0;
}

#salad-popup h3{
    background-color: #C1E1C1;
    padding: 3%;

}

#salad-popup h2 {
    text-align: center;
}

#exit {
    width:20px;
    margin: 0;
}

.exit {
    width:20px;
    float: right;
}

.popup-buttons {
    display: flex;
}

#salmon-popup {
    display: none;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.3s;
    background: #F2D2BD;
    padding: 5%;
    margin: 10%;
    border-radius: 20px;
}

#salmon-popup button {
    background-color: #C1E1C1;
    border-radius: 5px;
    margin-right:auto;
    margin-left:0;
}

#salmon-popup h3{
    background-color: #C1E1C1;
    padding: 3%;

}

#salmon-popup h2 {
    text-align: center;
}

#raspberry-popup {
    display: none;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.3s;
    background: #F2D2BD;
    padding: 5%;
    margin: 10%;
    border-radius: 20px;
}

#raspberry-popup button {
    background-color: #C1E1C1;
    border-radius: 5px;
    margin-right:auto;
    margin-left:0;
}

#raspberry-popup h3{
    background-color: #C1E1C1;
    padding: 3%;

}

#raspberry-popup h2 {
    text-align: center;
}

