
.progress {
    background-color: #F2D2BD;
    border-radius: 20px;
    height: 30px;
    width: 300px;
}

.progress-done{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(to left,#C1E1C1);
}